<h1>All Articles</h1>

<%= link_to "Add a new article", new_article_path %>

<%= link_to "Top articles", top_articles_path %>

<% @articles.each do |article| %>
  <ul>
    <li> <%= link_to article.title, article_path(article) %> ~ <%= article.content %></li>
  </ul>
<% end %>
